/*nav*/

.navegador{
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: #cad2c5;
}
.navegador a {
    font-size: 30px;
    margin-right: 60px;
    text-decoration: none;
    color: black;
}


body {
    background: linear-gradient(#52796f,  #84a98c);
    color: #fff;
  }

  .team-member {
    margin-bottom: 20px;
  }

  .team-member img {
    width: 100%;
    height: auto;
  }

  .card-body a{
      text-decoration: none;
      color: black;
      padding-right: 10px;
      font-size: 32px;
      justify-content: center;
  }

  .card-title{
    font-size: 25px;
  }

  .card-body a:hover{
    color: #84a98c;
    transform: scale(1.2);
    transition: 0.5s;
  }

  .presentation-text p{
    font-size: 20px;
  }

