body{
  background: linear-gradient( #C6AC8F, #5E503F, #C6AC8F, #C6AC8F);
    font-family: "Open Sans", sans-serif !important;
 }
 
/* NAV */
.navegador {
  display: flex;
  flex-direction: column;
  background-color: #5E503F;
}

nav {
  background-color: #5E503F;
}

.navegador a {
  font-size: 25px;
  margin-right: 60px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-top: -3px;
}
.menu_list {
  margin-top: 0%;
  text-align: center;
  margin-left: 1300px;
  margin-top: -70px;
}

.navbar-toggler {
  border-color: white !important; 
}

.fas {
  color: white;
}

.dropdown-menu {
  background-color: #5E503F !important;
  list-style: none;
  border-color: #5E503F !important;
}

/*cards*/

.card-section{
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.card-news{
  height: 400px;
  width: 300px;
  margin: 25px; 
  margin-bottom: 150px;
}
.card-news img{
  object-fit: cover;
  height: 350px;
}
.card-body{
  height: 180px;
}

.presentation-text p{
  color: #000000;
  opacity: 0.9;
}


.titulo h1{
  color: #000000;
  opacity: 0.9;
}
.card-body a{
  text-decoration: none;
  color: #000000;
  padding-right: 5px;
  font-size: 25px;
  margin-top: -30px;
  justify-content: center;
}
  
  /* Estilos para el logo */
  .logo-verde img{
      display: block; 
      margin: 0 auto; 
      border-radius: 50%; 
      height: 140px;
      width: 140px;
      margin-top: 10px;
      margin-bottom: 60px;
  }
  
    
  .grupo{
    text-align: center;
    color: white;
    margin-top: 20px; 
    font-size: 18px; 
     }

     
  .team-member {
    margin-bottom: 20px;
    
  }

.team-member img {
  width: 100%;
  height: auto;
}

.card-body a{
  text-decoration: none;
  color: black;
  padding-right: 10px;
  font-size: 32px;
  justify-content: center;
}

.card-title{
  font-size: 25px;
}

.card-body a:hover{
  color: #000000;
  transform: scale(1.2);
  transition: 0.5s;
}

.presentation-text p{
  font-size: 20px;
}

/* footer */
.img-footer {
  background-image: url("../assets/assetsprincipal/34b18912-b8ac-49a1-ad29-c3a276b240b7-removebg-preview.png");
  background-size: cover;
  background-position: center;
  padding: 200px;
}

footer {
  background-color: #C6AC8F;
  padding: 40px 0 20px;
}

/* Estilos para el logo */
.logo-verde img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.red-social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.red-social-item {
  text-align: center;
  margin: 0 15px;
}

.red-social a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
}

.nombre {
  color: rgb(0, 0, 0);
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
}

.grupo {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  font-size: 18px;
}

/*media query footer*/

@media (max-width: 768px) {
  .red-social {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .red-social a {
    margin: 5px 0;
    
  }
}

@media (max-width: 360px) {
    .img-footer {
     padding: 100px;
    }
}
