* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0AA092;
}

.titulo {
    transition: all 0.3s;
  }
  
  .titulo:hover {
    color:#FA770F; 
  }

h1{
    justify-content: center;
    text-align: center;
    font-size: 35px;
    margin: 20px;
    padding:20px;
}

  
.main-container{
    display: flex;
    align-items: center;
}

.carousel{
    width: 30px; 
    overflow: hidden;
}

.club{
    width: 80px;
    height: 80px;
}

h2{
    text-align: center;
    font-size: 25px;
    margin: 25px;
    padding: 25px;

}

ul{
    display: flex;
    list-style: none;
    animation: slide 20s infinite linear;
}

.container{
    height: 50vh;
    width: 20px;
    display: grid;
    place-content: center;
}


h3{
    text-align: center;
    font-size: 20px;
}


.image{
    height: 350px;
    width: 350px;
    justify-content: center;
}

.card {
        background-color:#A8BFBD;
        border: 1px solid #ccc;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }


      @keyframes slide {
        0% { transform: translateX(0); }
        100% { transform: translateX(-100%); }
        150% { transform: translateX(-200%); }
        180% { transform: translateX(-300%); }
        200% { transform: translateX(-400%); }

      }

      .information{
        display: flex;
        padding: 150px;
        justify-content: space-around;
      }

      .card {
        max-width: 300px;
        background-color: #AB9C91;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      
      .card img {
        width: 100%;
        height: auto; 
      }
      
      .card-content {
        padding: 20px; 
      }
      
      .card-content h2 {
        margin-top: 0; 
      }
      
      .card-content p {
        margin-bottom: 15px; 
      }
      
      .card-content a {
        display: inline-block;
        background-color:#5E5C5B; 
        color:black; 
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 4px; 
      }
      
      .card-content a:hover {
        background-color:#FA770F; 
      }