/* Body */

body{
    background: linear-gradient(#ff7300, #995822, #172366, #0e0f49);
    font-family: "Jacquard 12 Charted", system-ui;
}

/* Navegador */

.navegador {
    display: flex;
    flex-direction: column;
    background-color: #ff7300;
}
  
nav {
    background-color: #ff7300;
}
  
.navegador a {
    font-size: 25px;
    margin-right: 60px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: -3px;
}

.menu_list {
    margin-top: 0%;
    text-align: center;
    margin-left: 1300px;
    margin-top: -70px;
}
  
.navbar-toggler {
    border-color: white; 
}
  
.fas {
    color: white;
}
  
.dropdown-menu {
    background-color: #ff7300;
    list-style: none;
    border-color: #ff7300 !important;
}

.dropdown-item {
    text-align: center;
    margin: 10px;
}

/* banner */
  
.bannerrugby {
    display: flex;
    justify-content: center;
    background-image: url(../assets/rugbyimages/urt3.jpg); 
    background-size: cover;
    background-position: center ;
    padding: 300px;
    width: 100%;
}

/* Carousel */

.carousel-news{
    height: 600px;
    margin: 25px 0 25px 0;
}

.carousel-news img{
    height: 600px;
    object-fit: cover;
}

.carousel-news a{
    color: white;
}

.carousel-caption{
    background-color: black;
    opacity: 0.8;
}


/*Cards Informacion*/

.titulo {
    display: flex;
    justify-content: center;
    margin: 100px;
    color: white;
}

.card-section{
    margin-top: 50px;
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.card-news{
    height: 500px;
    width: 400px;
    margin: 25px; 
    margin-top: 0px;
}

.card-news img{
    height: 350px;
    margin: 10px solid black;
}

.card-news:hover{
    transform: scale(1.05);
}

.card-body{
    height: 150px;
    background-color: #EAE0D5;
}
  
/*Video y Mapa*/

.youtubevideo {
    margin-top: 125px;
    margin-left: 190px;
    margin-bottom: 100px;
    border-radius: 20px;
}

.mapaurt {
    margin-top: 125px;
    margin-left: 350px;
    margin-bottom: 100px;
    border-radius: 20px;
}

/*Carousel Sponsors*/

@keyframes slide{
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.carousel-sponsors{
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}
.carousel-sponsors:before,
.carousel-sponsors:after{
  position: absolute;
  top: 0;
  width: 350px;
  height: 100%;
  content: "";
  z-index: 2;
}
.carousel-sponsors:before { 
  left: 0;
  background: linear-gradient(to left, rgba(255,255,255,0), #08103b);
}
.carousel-sponsors:after{
  right: 0;
  background: linear-gradient(to right, rgba(255,255,255,0), #08103b);
}
.carousel-sponsors{
  animation-play-state: paused;
}
.logos-slide {
  display: inline-block;
  animation: 50s slide infinite linear;
}
.logos-slide img{
  border-radius: 5px;
  height: 80px;
  margin: 0 40px;
}

/*Footer y diseño*/

/*Estilos generales*/

.img-footer {
    background-image: url('../assets/assetsprincipal/silueta-motañas-removebg-preview.png'); 
    background-size: cover;
    background-position: center ;
    padding: 200px;
  
}

footer{
    background-color: #0e0f49;
    padding: 40px 0 20px; 
}

/*Estilos de Logo*/

.logo-verde img{
    display: block; 
    margin: 0 auto; 
    border-radius: 50%; 
    height: 140px;
    width: 140px;
    margin-top: 10px;
    margin-bottom: 60px;
}

.red-social{
    display: flex;
    justify-content: center; 
    margin-top: 20px;
    margin-bottom: 60px;
}

.red-social-item {
    text-align: center;
    margin: 0 15px; 
   
}

.red-social a{
    color: antiquewhite;
    text-decoration: none;
    margin: 0 15px; 
    font-size: 20px; 
}

.nombre {
    color: white;
    font-size: 14px; 
    display: block;
    margin-bottom: 5px; 
    font-size: 17px;
}

.grupo{
    text-align: center;
    color: white;
    margin-top: 20px; 
    font-size: 18px; 
}

@media (max-width: 768px) {
    .red-social {
        flex-direction: column; 
        align-items: center; 
        margin-top: 10px; 
    }

    .red-social a {
        margin: 5px 0; 
    }
}


