@media (max-width: 768px) {
    .carousel-control-prev,
    .carousel-control-next {
        width: 5%; /* Ajusta el ancho de los botones de control para pantallas pequeñas */
    }
    
}

@media (max-width: 576px) {
    .carousel-control-prev,
    .carousel-control-next {
        width: 8%; /* Ajusta el ancho de los botones de control para pantallas extra pequeñas */
    }
}
body{
    background: linear-gradient(#faeee3, #22333B, #22333b, #22333b);
    font-family: "Open Sans", sans-serif !important;
 }
 /* NAV */
.navegador {
    display: flex;
    flex-direction: column;
    background-color: #22333B;
  }
  
  nav {
    background-color: #22333B;
  }
  
  .navegador a {
    font-size: 25px;
    margin-right: 60px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-top: -3px;
  }
  .menu_list {
    margin-top: 0%;
    text-align: center;
    margin-left: 1300px;
    margin-top: -70px;
  }
  
  .navbar-toggler {
    border-color: rgb(255, 255, 255); 
  }
  
  .fas {
    color: rgb(255, 255, 255);
  }
  
  .dropdown-menu {
    background-color: #22333B!important;
    list-style: none;
    border-color: #22333B!important;
  }
 /* BODY */
 .titulo{
     text-align: center;
     margin-top: 40px;
 }
 .titulo{
     color: #fff;
     background-image: linear-gradient(-250deg, #000000 0%, #535151 50%, #050505 100%);
     background-size: auto auto;
     background-clip: border-box;
     background-size: 200% auto;
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text ;
     animation: bgText 2.5s linear infinite;
     font-size: 30px;
 }
 .titulo h1{
     font-size: 50px;
 }
 .titulo h2{
    font-size: 40px;
 }
 @keyframes bgText{
     to {
         background-position: 200% center;
     }
 }
 .iframes{
     margin-top: 50px;
     display: flex;
     align-items: center;
     justify-content: space-around;
 }
 .carousel-caption {
     color: rgb(2, 2, 2);
     text-shadow:     -2px -2px 0 #ffff,  
                       2px -2px 0 #ffff,
                      -2px  2px 0 #ffff,
                       2px  2px 0 #ffff;
 }
 .carousel-caption h4{
     margin-top: 300000px;
 }
 .carrusel-config{
    height: 600px;
    display: flex;
    align-items: center;
 }
.boton{
     color: #000; 
     width: 300px;
 }
 .custom-carousel-control span:hover {
     background-color: rgba(255, 255, 255, 0.7); 
 }
 .text h2 {
     margin: 50px; 
     padding-top: 70px;
     text-align: center;
     color: #faeee3;
 }
 .text h3 {
     margin: 50px; 
     text-align:center;
     margin-left: 75px;
     color: #faeee3;
 }
.text p{
    margin-left: -150px ;
    margin-right: 100px;
    margin-top: 100px;
    color: #faeee3;
    font-size: 25px;
}
 .card{
    background-color: #faeee3 !important;
    border: 5px solid black !important;
 }
 .cartas1 {
     display: flex;
     justify-content: space-around;
     margin-top: 70px;
     margin-bottom: 50px;
 }
 .cartas2{
     display: flex;
     justify-content:space-around;
     margin-bottom: 50px;
     margin-left: 300px;
     margin-right: 300px;
     
 }
 .cartas1 div{
     align-items: center center;
 }
 .card-body{
     text-align: center;
     background-color: #faeee3;
 }
 .card img{
     height: 200px;
     width: 200px;
     margin: 20px;
     margin-left: 55px;
     background-color: #faeee3;
     align-items: center;
 }
 .card-body a{
    font-size: 20px;
    border: 2px solid black;
    background-color: #000000;
    color: #f3f3f3;
 }
 .card-body a:hover{
    transition: 0.2s;
    transform:scale(1.2);;
    border: 2px solid black;
    background-color: #000000;
    color: #f3f3f3;
 }
 /*CARRUSEL DE SPONSORS*/
@keyframes slide{
    from{
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .carousel-sponsors{
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
  }
  .carousel-sponsors:before,
  .carousel-sponsors:after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  .carousel-sponsors:before { 
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), #233040);
  }
  .carousel-sponsors:after{
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), #233040);
  }
  .carousel-sponsors{
    animation-play-state: paused;
  }
  .logos-slide {
    display: inline-block;
    animation: 50s slide infinite linear;
  }
  .logos-slide img{
    border-radius: 5px;
    height: 50px;
    margin: 0 40px;
  }

 
    /* footer */
  
    /* Estilos generales del footer */
    .img-footer {
        background-image: url('../assets/assetsprincipal/silueta-motañas-removebg-preview.png'); 
        background-size: cover;
        background-position: center ;
        padding: 200px;
      
    }
    
    footer{
        background-color: #233040;
        padding: 40px 0 20px; 
    }
    
    /* Estilos para el logo */
    .logo-verde img{
        display: block; 
        margin: 0 auto; 
        border-radius: 50%; 
        height: 140px;
        width: 140px;
        margin-top: 10px;
        margin-bottom: 60px;
    }
    
    .red-social{
        display: flex;
        justify-content: center; 
        margin-top: 20px;
        margin-bottom: 60px;
    }
    
    .red-social-item {
        text-align: center;
        margin: 0 15px; 
       
    }
    
    .red-social a{
        color: antiquewhite;
        text-decoration: none;
        margin: 0 15px; 
        font-size: 20px; 
    }
    
    .nombre {
        color: white;
        font-size: 14px; 
        display: block;
        margin-bottom: 5px; 
        font-size: 17px;
    }
    
    .grupo{
        text-align: center;
        color: white;
        margin-top: 20px; 
        font-size: 18px; 
    }
    
    @media (max-width: 768px) {
        .red-social {
            flex-direction: column; 
            align-items: center; 
            margin-top: 10px; 
        }
    
        .red-social a {
            margin: 5px 0; 
        }
    }
    