@media (max-width: 768px) {
    .carousel-control-prev,
    .carousel-control-next {
        width: 5%; 
    }
    
}

@media (max-width: 576px) {
    .carousel-control-prev,
    .carousel-control-next {
        width: 8%; 
    }
}
body{
    background: linear-gradient(#faeee3, #22333B, #22333b, #22333b);
    font-family: "Jacquard 12 Charted", system-ui ;
    font-weight: 400;
    font-style: normal;
 }
 /* NAV */
.navegador{
     display: flex;
     flex-direction: column;
     background-color: #22333B;
 }

nav{
    background-color: #22333B;
}
 .navbar-brand img{
     border-radius: 30px;
 }
 .navbar-toggler {
    border-color: white !important; 
  }
  
  .fas {
    color: white;
  }
 .navegador a {
     font-size: 30px;
     margin-right: 60px;
     text-decoration: none;
     color: rgb(255, 255, 255);
     margin-top: -3px;
 }
 .navegador ul a:hover{
    transition: 0.2s;
    transform:scale(1.1);
    border: 2px solid rgb(255, 255, 255);
    color: #f3f3f3;
    border-top: #f3f3f3;
    border-left: #f3f3f3;
    border-right: #f3f3f3;
 }
 .navegador a img:hover{
    transition: 0.2s;
    transform:scale(1.2);
 }

.data-container{
     display:flex;
     justify-content:center;
     align-items:center;
 }
 /* BODY */
 .titulo{
     text-align: center;
     margin-top: 40px;

 }
.texto{
    color: #f3f3f3;
    font-size: 20px;
 }
 .titulo{
     color: #fff;
     background-image: linear-gradient(-250deg, #000000 0%, #535151 50%, #050505 100%);
     background-size: auto auto;
     background-clip: border-box;
     background-size: 200% auto;
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text ;
     animation: bgText 2.5s linear infinite;
     font-size: 30px;
 }
 @keyframes bgText{
     to {
         background-position: 200% center;
     }
 }
 .iframes{
     margin-top: 50px;
     display: flex;
     align-items: center;
     justify-content: space-around;
 }
 .carousel-caption h4{
     margin-top: 300000px;
 }
 .carrusel-config{
    height: 600px;
    display: flex;
    align-items: center;
 }
.boton{
     color: #000; 
     width: 300px;
 }
 .custom-carousel-control span:hover {
     background-color: rgba(255, 255, 255, 0.7); 
 }
 .text h2 {
     margin: 50px; 
     padding-top: 70px;
     text-align: center;
     color: #faeee3;
 }
 .text h3 {
     margin: 50px; 
     text-align:center;
     margin-left: 75px;
     color: #faeee3;
 }
.text p{
    margin-left: -150px ;
    margin-right: 100px;
    margin-top: 100px;
    color: #faeee3;
    font-size: 25px;
}
.div-card1{
    display: flex;
    justify-content: space-between;
}
.div-card2{
    display: flex;
    justify-content: space-around;
}
.card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #faeee3 !important;
    border: 5px solid black !important;
 }
 .card-body{
     text-align: center;
     background-color: #faeee3;
 }
 .card img{
     height: 200px;
     width: 200px;
     margin: 20px;
     margin-left: 55px;
     background-color: #faeee3;
     align-items: center;
 }
 .card-body a{
    font-size: 20px;
    border: 2px solid black;
    background-color: #000000;
    color: #f3f3f3;
 }
 .card-body a:hover{
    transition: 0.2s;
    transform:scale(1.2);;
    border: 2px solid black;
    background-color: #000000;
    color: #f3f3f3;
 }
 /*CARRUSEL DE SPONSORS*/
@keyframes slide{
    from{
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .carousel-sponsors{
    overflow: hidden;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
  }
  .carousel-sponsors:before,
  .carousel-sponsors:after{
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
  }
  .carousel-sponsors:before { 
    left: 0;
    background: linear-gradient(to left, rgba(255,255,255,0), #233040);
  }
  .carousel-sponsors:after{
    right: 0;
    background: linear-gradient(to right, rgba(255,255,255,0), #233040);
  }
  .carousel-sponsors{
    animation-play-state: paused;
  }
  .logos-slide {
    display: inline-block;
    animation: 50s slide infinite linear;
  }
  .logos-slide img{
    border-radius: 5px;
    height: 50px;
    margin: 0 40px;
  }

 
/* footer */
  
/* Estilos generales del footer */
.img-footer {
        background-image: url('../assets/assetsprincipal/silueta-motañas-removebg-preview.png'); 
        background-size: cover;
        background-position: center ;
        padding: 200px;
      
}
    
footer{
        background-color: #233040;
        padding: 40px 0 20px; 
    }
    
/* Estilos para el logo */
.logo-verde img{
        display: block; 
        margin: 0 auto; 
        border-radius: 50%; 
        height: 140px;
        width: 140px;
        margin-top: 10px;
        margin-bottom: 60px;
}
    
.red-social{
        display: flex;
        justify-content: center; 
        margin-top: 20px;
        margin-bottom: 60px;
}
    
.red-social-item {
        text-align: center;
        margin: 0 15px; 
       
}
    
.red-social a{
        color: antiquewhite;
        text-decoration: none;
        margin: 0 15px; 
        font-size: 20px; 
}
    
.nombre {
        color: white;
        font-size: 14px; 
        display: block;
        margin-bottom: 5px; 
        font-size: 17px;
}
    
.grupo{
        text-align: center;
        color: white;
        margin-top: 20px; 
        font-size: 18px; 
}
    
@media (max-width: 768px) {
        .red-social {
            flex-direction: column; 
            align-items: center; 
            margin-top: 10px; 
        }
    
        .red-social a {
            margin: 5px 0; 
        }
}
@media (max-width: 360px) {
    .img-footer {
     padding: 100px;
    }
}