body {
  background: linear-gradient(#C6AC8F, #5E503F, #5E503F);
  color: white;
}

/* NAV */
.navegador {
  display: flex;
  flex-direction: column;
  background-color: #5E503F;
}

nav {
  background-color: #5E503F;
}

.navegador a {
  font-size: 25px;
  margin-right: 60px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin-top: -3px;
}
.menu_list {
  margin-top: 0%;
  text-align: center;
  margin-left: 1300px;
  margin-top: -70px;
}

.navbar-toggler {
  border-color: white; 
}

.fas {
  color: white;
}

.dropdown-menu {
  background-color: #5E503F;
  list-style: none;
  border-color: #5E503F !important;
}
.dropdown-item {
  text-align: center;
  margin: 10px;
}

/* banner */

.banner-voley {
  display: flex;
  justify-content: center;
  background-image: url("../assets/assetsVoley/federacionVoley.jpg");
  background-size: cover;
  background-position: center;
  padding-bottom: 550px; 
  width: 100%;
}

.banner-voley img {
  max-width: 100%; 
  height: auto;
}

/* media query banner */
@media (max-width: 768px) {
  .banner-voley {
    padding-bottom: 408px; 
  }
}

/*CAROUSEL*/
.carousel-news {
  height: 600px;
  margin: 25px 0 25px 0;
}
.carousel-news img {
  height: 400px;
  object-fit: cover;
}
.carousel-news a {
  color: white;
}

/* media query carousel */
@media (max-width: 768px) {
  .carousel-news {
    height: 300px;
    margin: 25px 0;
  }

  .carousel-news img {
    height: auto;
    width: 100%;
    object-fit: cover;
  }
}

/*CARDS SECCION*/

.titulo {
  display: flex;
  justify-content: center;
  margin-top: -200px;
  margin-bottom: 10px;
  color: #271f16;
}
.card-section {
  margin-top: -15px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}
.card-news {
  height: 400px;
  width: 300px;
  margin-bottom: 150px;
}
.card-news img {
  height: 350px;
}
.card-body {
  height: 200px;
  background-color: #eae0d5;
}

@media (max-width: 768px) {
  .card-section {
    margin-top: 10px;
  }
  .titulo{
    margin-top: -130px;
    margin-bottom: -30px;
    color: #271f16;
  }
}

/*SOCIAL*/

/*iframes*/
.social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.video,
.map {
  width: 600px;
  height: 300px;
}

.p1{
  font-size: 25px;
  width: 640px;
  color: #271f16;
}

.p2{
  font-size: 25px;
  width: 350px;
  color: #271f16;
}

/*media query iframes*/

@media (max-width: 768px) {
  .social {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .video,
  .map {
    width: auto;
    height: auto;
  }

  .p1{
    font-size: 20px;
    width: 200px;
  }
  
  .p2{
    font-size: 25px;
    width: 250px;
  }

}

/*CARRUSEL DE SPONSORS*/

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.carousel-sponsors {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}
.carousel-sponsors:before,
.carousel-sponsors:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}
.carousel-sponsors:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), #C6AC8F);
}
.carousel-sponsors:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #C6AC8F);
}
.carousel-sponsors {
  animation-play-state: paused;
}
.logos-slide {
  display: inline-block;
  animation: 50s slide infinite linear;
}
.logos-slide img {
  border-radius: 5px;
  height: 50px;
  margin: 0 40px;
}

/* footer */
.img-footer {
  background-image: url("../assets/assetsprincipal/34b18912-b8ac-49a1-ad29-c3a276b240b7-removebg-preview.png");
  background-size: cover;
  background-position: center;
  padding: 200px;
}

footer {
  background-color: #C6AC8F;
  padding: 40px 0 20px;
}

/* Estilos para el logo */
.logo-verde img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  height: 140px;
  width: 140px;
  margin-top: 10px;
  margin-bottom: 60px;
}

.red-social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.red-social-item {
  text-align: center;
  margin: 0 15px;
}

.red-social a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 15px;
  font-size: 20px;
}

.nombre {
  color: rgb(0, 0, 0);
  font-size: 14px;
  display: block;
  margin-bottom: 5px;
  font-size: 17px;
}

.grupo {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-top: 20px;
  font-size: 18px;
}

/*media query footer*/

@media (max-width: 768px) {
  .red-social {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .red-social a {
    margin: 5px 0;
  }
}

@media (max-width: 360px) {
    .img-footer {
     padding: 100px;
    }
}
