body {
    background: linear-gradient(#eae0d5, #22333b, #22333b);
    color: white;
  }
  
  /*nav*/
  
  .navegador {
    display: flex;
    flex-direction: column;
  }
  nav {
    background-color: #22333b;
  }
  
  .navegador a {
    font-size: 30px;
    margin-right: 60px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  /* banner */
  
  .bannerVoley {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  
  /* carousel */
  
  
  .voley-carousel {
    display: flex;
    justify-content: center;
  }
  
  .voley-carousel h1{
      margin-top: 90px;
      margin-bottom: 50px;
      text-align: center;
  }
  
  .carousel{
      display: flex;
      justify-content: center;
  }
  
  .carousel-item img{
      object-fit: contain;
      width: 1200px;
      height: 400px;
      
  }
  
  .voley-carousel button{
    margin-top: 20px; 
    }
    .carousel-control-prev-icon {
      background-color: rgb(0, 0, 0);
      border-radius: 10px 10px;
    }
    .carousel-control-next-icon {
      background-color: black;
      border-radius: 10px 10px;
    }
  
      /*cards*/
    .card {
      width: 300px;
      height: 600px;
      color: rgb(5, 63, 114);
      margin-top: 90px;
    }
    .card-img-top {
      height: 300px; 
      object-fit: cover; 
    }
  
    /*iframes*/
    .social {
      display: flex;
      justify-content: space-around;
  }
  
  .video, .map {
      width: 600px;
      height: 300px;
  }
  
  @media (max-width: 768px) {
      .social {
          display: block; 
      }
      
      .video, .map {
          width: auto; 
          height: auto; 
      }
  }
  
  /*CARRUSEL DE SPONSORS*/
  @keyframes slide{
      from{
        transform: translateX(0);
      }
      to {
        transform: translateX(-100%);
      }
    }
    .carousel-sponsors{
      overflow: hidden;
      padding: 60px 0;
      white-space: nowrap;
      position: relative;
      width: 1903px;
    }
    .carousel-sponsors:before,
    .carousel-sponsors:after{
      position: absolute;
      top: 0;
      width: 250px;
      height: 100%;
      content: "";
      z-index: 2;
    }
    .carousel-sponsors:before { 
      left: 0;
      background: linear-gradient(to left, rgba(255,255,255,0), #233040);
    }
    .carousel-sponsors:after{
      right: 0;
      background: linear-gradient(to right, rgba(255,255,255,0), #233040);
    }
    .carousel-sponsors{
      animation-play-state: paused;
    }
    .logos-slide {
      display: inline-block;
      animation: 50s slide infinite linear;
    }
    .logos-slide img{
      border-radius: 5px;
      height: 50px;
      margin: 0 40px;
    }
    
    @media (max-width: 768px) {
      .carousel-sponsors {
        padding: 30px 0; /* Reducir el padding superior e inferior */
      }
      
      .logos-slide img {
        height: 30px; /* Reducir la altura de las imágenes */
        margin: 0 10px; /* Reducir el margen entre las imágenes */
      }
    }
    
  
    /* footer */
  
    /* Estilos generales del footer */
  .img-footer {
      background-image: url('../assets/assetsprincipal/silueta-motañas-removebg-preview.png'); 
      background-size: cover;
      background-position: center ;
      padding: 200px;
    
  }
  
  footer{
      background-color: #22333b;
      padding: 40px 0 20px; 
  }
  
  /* Estilos para el logo */
  .logo-verde img{
      display: block; 
      margin: 0 auto; 
      border-radius: 50%; 
      height: 140px;
      width: 140px;
      margin-top: 10px;
      margin-bottom: 60px;
  }
  
  .red-social{
      display: flex;
      justify-content: center; 
      margin-top: 20px;
      margin-bottom: 60px;
  }
  
  .red-social-item {
      text-align: center;
      margin: 0 15px; 
     
  }
  
  .red-social a{
      color: antiquewhite;
      text-decoration: none;
      margin: 0 15px; 
      font-size: 20px; 
  }
  
  .nombre {
      color: white;
      font-size: 14px; 
      display: block;
      margin-bottom: 5px; 
      font-size: 17px;
  }
  
  .grupo{
      text-align: center;
      color: white;
      margin-top: 20px; 
      font-size: 18px; 
  }
  
  @media (max-width: 768px) {
      .red-social {
          flex-direction: column; 
          align-items: center; 
          margin-top: 10px; 
      }
  
      .red-social a {
          margin: 5px 0; 
      }
  }
  